body
{
	font-family: Tahoma, Geneva, sans-serif;
	color:#fff;
	background: url(IMG_5909.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	}
	a
	{
		color: yellow;
		text-decoration: blink;
		font-family: Tahoma, Geneva, sans-serif;
		margin-left: 35px;
	}
	.reset{
		background: rgba(44,62,80,0.7);
		padding: 40px;
		width: 240px;height: 340px;
		margin-left: 180px;
		margin: 0 auto;
		margin-top: 120px;
		height: 50%;
	}
	h2{
		margin-top: 15px;
		margin-left: 10px;
	}
	input[type=password]{
		width: 240px;
	text-align: center;
	background: transparent;
	border:none;
	border-bottom: 1px solid #fff;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	color: yellow;
	}
	input[type=button]{
		border:none;
	width: 180px;
	background: white;
	color: black;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
	}
	input[type=button]:hover
{
	color: white;
	background: black;
}
::placeholder{
	color: aliceblue;
	opacity: 0.8;
}